
  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@800&display=swap');



body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);

}

.div-main{
    display: grid;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: black;
    border-radius: 2rem;
    box-shadow: 10px 10px;   

}
.div1{
    width: 100%;
    height: 30vh;

}

.div2{
    width: 100%;
    height: 50vh;
    place-items: center;
    line-height: 18px;
     
}
.baby-div{
    width: 80%;
    padding: 1.4rem;
}
.img{
    width: 90%;
    height: 28vh;
    margin: 1rem;
    border-radius: 24px;

}
#img2{
    width: 2.2em;
    height: 2.2em;
    margin-top: 8px;
}
#p-bottom{
    padding-left: 12px;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
p{
    font-size: 16px;
    color: hsl(0, 0%, 50%);
}
h3{
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 20px;
}
button{
    background-color: hsl(47, 88%, 63%);
    border: unset;
    padding: 5px;
    font-size: 11px;
    font-family: 'Figtree', sans-serif;
    height: 27px;
    width: 70px;
    border-radius: 5px;
    font-weight: bold;
}
h5, p{
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}

@media screen and (max-width:600px){
    .div-main{
        width: 300px;
    }
    

}